/*
  Created originally on : 19-Mar-2014
  Author      : Eamonn Killian
  Web         : www.eamonnkillian.com
  Contact     : eamonnkillian@gmail.com

  This is the main css file for the Cost Model for DC Assets part of the web application 
  which is designed to provide a module for creating, managing and tracking of the costs associated 
  with the DC Assets aspects of a Managed Service Provider (MSP) or Cloud Service Provider(CSP).


    Develop a standard Default User View called Mainpage with styles

*/

#allocationsMain {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 3%;
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

#allocationsMainMID {
    position: relative;
    float: left;
    height: 370px;
    width: 100%;
    text-align: left;
}

#header {
    font-size: 16px;
}

#TopBanner {
    position: relative;
    float:left;
    top: 0px;
    width: 100%;
    font-size: 12px;
}

#BannerLeft {
    position: relative;
    float: left;
    top: 0px;
    width: 30%;
    padding-left: 10px;
}

#BannerRight {
    position: relative;
    float: right;
    border: 3px solid #000;
    text-align: center;
    padding: 5px;
    width: 65%;
}

#allocationsMainScreen {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    padding-top: 20px;
    overflow: auto;
}

#allocationsMainMIDMainSection {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 470px;
}

#allocationsMainMIDMainSectionLHS {
    position: relative;
    float: left;
    height: 350px;
    width: 30%;
}

#allocationsMainMIDMainSectionRHS {
    position: relative;
    float: left;
    height: 350px;
    width: 70%;
    text-align: center;
    overflow: auto;
}

#dropdownPosition {
    position: relative;
    float: left;
    width: 100%;
    border: 0px;
    padding: 2%;
}

.allocationsSelector {
    position: relative;
    float: left;
    padding: 5px;
}

.allocationsInputSubmit {

    float:left;
    width: 250px;
    border: #373737 solid 4px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding-top:8px;
    padding-bottom:8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.allocationsInputSubmit:hover{
    background-color: #3184a1;
    color: #000;
    font-size: 10px;
}


#allocationsFormforAdd {
    display:none;
}

table, td, th {
    border: 0px solid #fcf7ec;
    margin: 0 auto;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #3184a1;
    color: #000;
    font-size: 12px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fff;
    font-size: 12px;
}

select {
    padding: 5px;
    background-color: #fff;
    border: 0;
    width: 150px;

    font-size: 12px;
}

#allocationsForSel {
    padding: 5px;
    background-color: #EF6A57;

    font-weight: bold;
    height: 30px;
    width: 125px;
    border: 0;
    color: #373737;
}

#allocationsSuccessAdd {
    display: none;
}

#allocationsDelete {

    float:left;
    width: 100px;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#allocationsDelete:hover{
    background-color:#EF6A57;
    color: #000;
}

#allocationsModify {

    float:left;
    width: 100px;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#allocationsModify:hover{
    background-color:#098241;
    color: #fff;
}

.hiddenTD{
    background-color: #fcf7ec;
    padding-top: 6px;
}

input {
    border: 0;
    width: 170px;
}

.allocationsTableHeader {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.inputModify {

    font-size: 12px;
    text-align: right;
    border:0;
    width: 175px;
}

.allocationsAddHeader {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.allocationsAddInputSubmit {

    width: 330px;
    border: #373737 solid 2px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:14px;
    padding-top:8px;
    padding-bottom:8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.allocationsAddInputSubmit:hover{
    background-color: #67b5d1;
    color: #000;
}




#allocationsMainRHS {
    position: relative;
    float: left;
    height: 500px;
    width: 20px;
    text-align: right;
}

#emptyshowallocationsCostsTableTD {
    background-color: #fff;
    text-align: center;
}

#product_name {
    width: 175px;
}

.percentageshowallocationsCostsTableTD {
    text-align: right;
}

.monetaryshowallocationsCostsTableTD {
    text-align: right;
}

.percentage {
    width: 50px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.monetary {
    width: 110px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.alphanumeric {

    font-size: 12px;
    width: 170px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.alphanumerictype {

    font-size: 12px;
    width: 170px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.deleteButton {

    float:left;
    width: 80%;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.deleteButton:hover {
    background-color:#EF6A57;
    color: #000;
}

.updateButton {
    float:left;
    width: 80%;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.updateButton:hover {
    background-color:#098241;
    color: #000;
}

.inputModify {
    border:0;
    width: 175px;
    background-color: #fcf7ec;
}

#allocationsSelect {
    width: 100%;
}

.allocationsInputSel {
    background-color: #fff;
    background-image: url(../../img/downloadred.png);
    background-size: 25px 25px;
    background-position: 235px 8px;
    background-repeat: no-repeat;
    padding-left: 10px;
    border:0!important;
    height: 40px;
    width: 100%;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.allocationsInputSel:focus{
    background-color:#fff;
    border:#EF6A57 solid 3px;
    background-image: url(../../img/downloadred.png);
}

#allocationsMenu {
    display: none;
}

#showallocationsCostsTable {
    text-align: right;
}

#showallocationsCostsTable th td {
    width: 150px;
}


#allocationsMenuTable {
   border: 3px;
}

.selectLocation {
    width: 200px;

}

textarea {

    border:0;
    background-color: #fcf7ec;
    text-align: right;
    font-size: 12px;
}

.textareaInput {

    border:0;
    background-color: #fcf7ec;
    text-align: right;
    font-size: 12px;
}

.radio {
    width: 35px;
}

#currencyShow {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.currencyShow {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.dateType {

    font-size: 12px;
    background-color: #fcf7ec;
    text-align: right;
}

.datepicker {

    font-size: 12px;
    background-color: #fcf7ec;
    text-align: right;
}

.ui-datepicker-header {
    background-color: #000;
}