/*
  Created originally on : 19-Mar-2014
  Author      : Eamonn Killian
  Web         : www.eamonnkillian.com
  Contact     : eamonnkillian@gmail.com

  This is the main css file for the Cost Model for DC Assets part of the web application 
  which is designed to provide a module for creating, managing and tracking of the costs associated 
  with the DC Assets aspects of a Managed Service Provider (MSP) or Cloud Service Provider(CSP).


    Develop a standard Default User View called Mainpage with styles

*/


#storageMain {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 5%;
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

#storageMainMID {
    position: relative;
    float: left;
    height: 500px;
    width: 100%;
    text-align: left;
}

#storageMainMIDTopBanner {
    position: absolute;
    top:0px;
    left:0px;
    height: 70px;
    width: 100%;
    z-index: 10;
}

#storageMainMIDTopBannerLHS {
    position: relative;
    float: left;
    height: 70px;
    width: 30%;
}

#storageMainMIDTopBannerRHS {
    position: relative;
    float: left;
    height: 65px;
    width: 70%;
    font-size: 16px;
}

#storageMainMIDTopBannerRHSCommandOutput {
    position: relative;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    border: 0;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 12px;
}

#storageMainMIDMainSection {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    padding-top: 10px;
    height: 470px;
}

#storageMainMIDMainSectionLHS {
    position: relative;
    float: left;
    height: 480px;
    width: 30%;
}

.storageSelector {
    position: relative;
    float: left;
    padding: 5px;
}

.storageInputSubmit {

    float:left;
    width: 200px;
    border: #373737 solid 4px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:12px;
    padding-top:8px;
    padding-bottom:8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.storageInputSubmit:hover{
    background-color: #3184a1;
    color: #000;
    font-size: 12px;
}


#storageFormforAdd {
    display:none;
}

table, td, th {
    border: 0px solid #fcf7ec;
    margin: 0 auto;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #3184a1;
    color: #373737;
    font-size: 12px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fff;
    font-size: 12px;
}

select {
    padding: 5px;
    background-color: #fff;
    border: 0;
    width: 150px;

    font-size: 12px;
}

#storageForSel {
    padding: 5px;
    background-color: #EF6A57;

    font-weight: bold;
    height: 30px;
    width: 125px;
    border: 0;
    color: #373737;
}

#storageSuccessAdd {
    display: none;
}

#storageDelete {

    float:left;
    width: 100px;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#storageDelete:hover{
    background-color:#EF6A57;
    color: #000;
}

#storageModify {

    float:left;
    width: 100px;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#storageModify:hover{
    background-color:#098241;
    color: #fff;
}

.hiddenTD{
    background-color: #fcf7ec;
    padding-top: 6px;
}

input {
    border: 0;
    width: 170px;
}

.storageTableHeader {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.inputModify {

    font-size: 12px;
    text-align: right;
    border:0;
    width: 175px;
}

.storageAddHeader {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.storageAddInputSubmit {

    width: 170px;
    border: #373737 solid 2px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:14px;
    padding-top:8px;
    padding-bottom:8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.storageAddInputSubmit:hover{
    background-color: #3184a1;
    color: #000;
}

.storageInputSel {
    background-color: #fff;
    background-image: url(../../img/downloadred.png);
    background-size: 30px 30px;
    background-position: 255px 6px;
    background-repeat: no-repeat;
    padding-left: 10px;
    border:0!important;
    height: 40px;
    width: 300px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.storageInputSel:focus{
    background-color:#EF6A57;
    border:#EF6A57 solid 3px;
    background-image: url(../../img/download.png);
}


#storageMainMIDMainSectionRHS {
    position: relative;
    float: left;
    height: 480px;
    width: 70%;
    text-align: center;
    overflow: auto;
}


#storageMainRHS {
    position: relative;
    float: left;
    height: 500px;
    width: 20px;
    text-align: right;
}

#emptyshowstorageCostsTableTD {
    background-color: #fff;
    text-align: center;
}

.percentageshowstorageCostsTableTD {
    text-align: right;
}

.monetaryshowstorageCostsTableTD {
    text-align: right;
}

.percentage {
    width: 50px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.monetary {
    width: 110px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.alphanumeric {

    font-size: 12px;
    width: 170px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.alphanumerictype {

    font-size: 12px;
    width: 170px;
    border: 0px;
    text-align: right;
    background-color: #fcf7ec;
}

.deleteButton {

    float:left;
    width: 80%;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.deleteButton:hover {
    background-color:#EF6A57;
    color: #000;
}

.updateButton {
    float:left;
    width: 80%;
    height: 20px;
    border: #373737 solid 0px;
    cursor:pointer;
    background-color: #373737;
    color:white;
    margin-left: 10px;
    font-size:10px;
    padding: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.updateButton:hover {
    background-color:#098241;
    color: #000;
}

.inputModify {
    border:0;
    width: 175px;
    background-color: #fcf7ec;
}

#storageSelect {
    width: 220px;
}

.storageInputSel {
    background-color: #fff;
    background-image: url(../../img/downloadred.png);
    background-size: 25px 25px;
    background-position: 185px 8px;
    background-repeat: no-repeat;
    padding-left: 10px;
    border:0!important;
    height: 40px;
    width: 100%;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.storageInputSel:focus{
    background-color:#fff;
    border:#EF6A57 solid 3px;
    background-image: url(../../img/downloadred.png);
}

#storageMenu {
    display: none;
}

#showstorageCostsTable {
    text-align: right;
}

#showstorageCostsTable th td {
    width: 150px;
}


#storageMenuTable {
   border: 3px;
}

.selectLocation {
    width: 200px;

}

textarea {

    border:0;
    background-color: #fff;
    text-align: right;
    font-size: 12px;
}

.textareaInput {

    border:0;
    background-color: #fcf7ec;
    text-align: right;
    font-size: 12px;
}

.radio {
    width: 35px;
}

#currencyShow {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.currencyShow {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.dateType {

    font-size: 12px;
    background-color: #fcf7ec;
    text-align: right;
}

.datepicker {

    font-size: 12px;
    background-color: #fcf7ec;
    text-align: right;
}

.ui-datepicker-header {
    background-color: #000;
}